<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
      <div class="back-catalogo">
          <h1 class="titulo">Catálogo de productos</h1>
          <div class="topnav">
            <p class="subtitulo2" style="margin-right: 17%; margin-bottom: 0px;">¿Qué estás buscando?</p>
            <input type="text" placeholder="Buscar producto">
          </div>

          <div class="container" style="height: 460px; margin-top: 5%;">
            <div class="row row-cols-1 row-cols-md-4" style="overflow:auto;">
              <div class="col mb-4">
              <div class="card">
                <img src="../../assets/imagenesBase/aguacate.jpg" class="card-img-top" alt="Aguacte" style="max-height: 420px;">
                <div class="card-body">
                  <h5 class="card-title text-dark">Aguacate</h5>
                  <p class="card-text text-dark">
                      Precio:$5 <br>
                      Unidades disponibles: $46 <br>
                  </p>       
                    <a routerLink="/detalle-producto" class="btn btn-primary btn-sm">Ver más</a>
                    <a href="#" class="btn btn-warning btn-sm text-light">Añadir</a>
                    <input class="form-control" type="number" name="cantidad" id="cantidad" min="0" value="0" style="width: 4em; margin:5px;">
                      </div>
              </div>
              </div>
              
              <div class="col mb-4">
              <div class="card text-dark" style="margin:5px;">
                <img src="../../assets/imagenesBase/ajo.jpg" class="card-img-top" alt="Aguacte">
                <div class="card-body">
                  <h5 class="card-title text-dark">Aguacate</h5>
                  <p class="card-text text-dark">
                      Precio:$5 <br>
                      Unidades disponibles: $46 <br>
                  </p>
                  <a routerLink="/detalle-producto" class="btn btn-primary btn-sm">Ver más</a>
                  <a href="#" class="btn btn-warning btn-sm text-light">Añadir</a>
                  <input class="form-control" type="number" name="cantidad" id="cantidad" max="100" min="0" value="0" style="width: 4em; margin:5px;">
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card text-dark" style="margin:5px;">
                <img src="../../assets/imagenesBase/almendras.jpg" class="card-img-top" alt="Aguacte">
                <div class="card-body">
                  <h5 class="card-title text-dark">Aguacate</h5>
                  <p class="card-text text-dark">
                      Precio:$5 <br>
                      Unidades disponibles: $46 <br>
                  </p>
                  <a routerLink="/detalle-producto" class="btn btn-primary btn-sm">Ver más</a>
                  <a href="#" class="btn btn-warning btn-sm text-light">Añadir</a>
                  <input class="form-control" type="number" name="cantidad" id="cantidad" max="100" min="0" value="0" style="width: 4em; margin:5px;">
                </div>
              </div>
            </div>

              <div class="col mb-4">
              <div class="card text-dark" style="margin:5px;">
                <img src="../../assets/imagenesBase/arandanos.jpg" class="card-img-top" alt="Aguacte">
                <div class="card-body">
                  <h5 class="card-title text-dark">Aguacate</h5>
                  <p class="card-text text-dark">
                      Precio:$5 <br>
                      Unidades disponibles: $46 <br>
                  </p>
                  <a routerLink="/detalle-producto" class="btn btn-primary btn-sm">Ver más</a>
                  <a href="#" class="btn btn-warning btn-sm text-light">Añadir</a>
                  <input class="form-control" type="number" name="cantidad" id="cantidad" max="100" min="0" value="0" style="width: 4em; margin:5px;">
                </div>
              </div>
            </div>

              <div class="col mb-4">
              <div class="card text-dark" style="margin:5px;">
                <img src="../../assets/imagenesBase/arandanos.jpg" class="card-img-top" alt="Aguacte">
                <div class="card-body">
                  <h5 class="card-title text-dark">Aguacate</h5>
                  <p class="card-text text-dark">
                      Precio:$5 <br>
                      Unidades disponibles: $46 <br>
                  </p>
                  <a routerLink="/detalle-producto" class="btn btn-primary btn-sm">Ver más</a>
                  <a href="#" class="btn btn-warning btn-sm text-light">Añadir</a>
                  <input class="form-control" type="number" name="cantidad" id="cantidad" max="100" min="0" value="0" style="width: 4em; margin:5px;">
                </div>
              </div>
            </div>

              <div class="col mb-4">
              <div class="card text-dark" style="margin:5px;">
                <img src="../../assets/imagenesBase/arandanos.jpg" class="card-img-top" alt="Aguacte">
                <div class="card-body">
                  <h5 class="card-title text-dark">Aguacate</h5>
                  <p class="card-text text-dark">
                      Precio:$5 <br>
                      Unidades disponibles: $46 <br>
                  </p>
                  <a routerLink="/detalle-producto" class="btn btn-primary btn-sm">Ver más</a>
                  <a href="#" class="btn btn-warning btn-sm text-light">Añadir</a>
                  <input class="form-control" type="number" name="cantidad" id="cantidad" max="100" min="0" value="0" style="width: 4em; margin:5px;">
                </div>
              </div>
              </div>

            </div>
        </div>
          </div>


  </body>
</html>
