/*Estilos personalizados para la barra*/
.barrasuperior
{
  height: 60px;
  border: 5px;
  border-radius: 5px;
  border-color: black;
  background-color: white;
}

/*Estilos para el Menú de opciones*/
.menuizquierda
{
  background-color: white;
  height: 60px;
  float: left;
  width: 15%;
  padding: 0px 0px 0px 5%; 
  float: inline-start;
  border-radius: 5px;
}

.menuderecha
{
  background-color: white;
  height: 60px;
  float: right;
  border-radius: 5px;
  width: auto;
}

img:hover
{
  filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: gray; 
  
}

/*Estilos personalizados para el carrito*/
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #ff0000;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}