<!DOCTYPE html>
<html>
    <head>
      <title>Barra superior</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body style="background-color: transparent;">
      <div class="barrasuperior">      
        <p style="color: gray; padding: 10px 0px 0px 10px; float: inline-start;">La Bodega</p>
        <div class="menuderecha">
          <nav>
            <a class="navbar-brand" routerLink="/catalogo">
              <img src="../../assets/iconos/grid.svg" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" routerLink="/app-carrito">
              <img src="../../assets/iconos/shopping-cart.svg" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" routerLink="/detalle-producto">
              <img src="../../assets/iconos/download.svg" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" routerLink="/">
              <img src="../../assets/iconos/logout.svg" width="30" height="30" alt="">
            </a>
          </nav>
        </div>
      </div>

    </body>
</html>
