html{
  background-color: black;
  height: 100%;
}
body{
  height: 100%;
  color: white;
  top: 0;
  left: 0;
 }



.bg {
  height: 100%;
  background-image: url('./assets/imagenesBase/login-fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

