
<body>
    <h1>Inicia sesión</h1>

    <form id="loginform" class="formulario" role="form">

    <div style="margin-bottom: 25px" class="input-group">
            <label>Correo electrónico:</label><br>
            <input id="login-username" type="email" class="form-control" name="username" value="" placeholder="Digite su correo electrónico" required><br>

            <label>Contraseña:</label><br>
            <input id="login-password" type="password" class="form-control" name="password" placeholder="Digite su contraseña" required>
        </div>
        <label id="mensaje">{{mensaje}}</label>
<div>
    <button type="submit" class="boton">Ingresar</button>
</div>


    </form>
  </body>
