/* estilos para los contenedores */
.container {
  width: 40%;
  margin: auto;
  padding: 10%;
  font-family: 'Courier New', Courier, monospace;
}

form
{
  width: 500px;
}

/* estilos para las cajas de texto */
input[type=email],input[type=password] {
  background-color: white;
  color: black;
  cursor: pointer;
  display: block;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
}

/* estilos para los botones */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: #45a049;
  border-radius: 5px;
  border: 5px;
}

/* estilos para los titulos */
h2
{
  text-align: center;
  font-size: 30px;
  visibility: collapse;
}

label
{
  color:red;
  font-weight: bold;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* estilos para los textos */
.container p
{
  margin: 10px 0px;
  font-weight: bold;
  font-size: 24px;
}
