<div class="container">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <h2>Inicia Sesión</h2>
      <p>
          Correo electrónico:
      </p>
      <input type="email" name="correo" placeholder="Digite el correo electrónico" required size="50" [(ngModel)]="correo">
      <p>
          Contraseña:
      </p>
      <input type="password" name="password" placeholder="Digite la contraseña" required size="50" [(ngModel)]="password">
      <br>
      <label id="error" *ngIf="MostrarError">*Error en el inicio de sesión</label>
      <br>
      <br>
        <input type="submit" value="Ingresar">
  </form>
</div>
