    <body style="background-color: transparent;">
        <div class="contenedor" style="margin-top: 10%;">
              <h1>Inicia Sesión</h1> 
                <form (ngSubmit)="onConsultar(form)" #form="ngForm"> 
                    <p>
                        Correo electrónico:
                    </p>
                    <input type="email" name="correo" placeholder="Digite el correo electrónico" size="50%" required [(ngModel)]="correo">
                    <b>
                        Contraseña:
                    </b>
                    <input type="password" name="password" placeholder="Digite la contraseña" size="50%" required [(ngModel)]="password">
                    <br>
                    <label id="error" *ngIf="MostrarError">*Error en el inicio de sesión</label>
                      <input type="submit" value="Ingresar" style="margin-top: 5%; margin-left: 45%;">
                </form>     
        </div>
    </body>



