body
{
  color: white;
  background:  transparent;
}


/* estilos para los contenedores */
.contenedor {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

h1
{
  color: white;
  font-size:x-large;
  font-weight: bolder;
  display: inherit;
  text-align: center;
}

/* estilos para las cajas de texto */
input[type=email],input[type=password] {
  background-color: white;
  color: black;
  cursor: pointer;
  display: block;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
}

/* estilos para los botones */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: #45a049;
  border-radius: 5px;
  border: 5px;
}

/* estilos para los titulos */
.contenedor h2
{
  text-align: center;
  font-size: 30px;
  visibility: collapse;
  color: white !important;
  display: initial;
}

label
{
  color:red;
  font-weight: bold;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* estilos para los textos */
.container p
{
  margin: 10px 0px;
  font-weight: bold;
  font-size: 24px;
}

@media (max-width:420px)
{
  /* estilos para las cajas de texto */
input[type=email],input[type=password] {
  background-color: white;
  color: blue;
  cursor: pointer;
  display: block;
  border: none;
  font-size: 12px;
  width: 100%;
}

/* estilos para los botones */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

/* estilos para los contenedores */
.contenedor {
  font-family: 'Courier New', Courier, monospace;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.contenedor p
{
  margin: 10px 0px;
  font-weight: bold;
  font-size: 14px;
}

} 


@media (max-width:812px) 
{
  /* estilos para los contenedores */
.contenedor {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
 }

  input[type=email],input[type=password] 
  {
    width: 100%;
  }
} 

@media (min-width:813px) 
{
  /* estilos para los contenedores */
.contenedor {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

input[type=email],input[type=password] 
{
  width: 100%;
}

} 

